.card {
    /* height: 20rem; */
    width: 15vw;
    height: fit-content;
}

.card-img-top {
    height: 12rem;
}

.card-body {
    height: 20vw;

    /* display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; */


}

.card-title {
    font-size: 20px;
}