<div class="container">
  <nav class="navbar navbar-expand-lg bg-light custom-navbar">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><i class="fa-solid fa-book"></i>BookStore</a>
      <form class="d-flex justify-content-center align-items-center mx-auto" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" style="width: 400px;">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </nav>


  <div class="row">
    <div class="col-sm-6 col-md-8 col-lg-8 ">
      <h2 class="shadow-text">Books</h2>
      <div class="d-flex flex-row flex-wrap mb-3 gap-2 bookcontainer">

        <div *ngFor="let book of books" class="carddesign">
          <app-card [books]="book" (addBook)="insertBook($event)"></app-card>
        </div>
      </div>

    </div>

    <div class="col-sm-6 col-md-4 col-lg-4 cart">
      <h2 class="shadow-text">Cart</h2>
      <ol class="list-group list-group-numbered">
        <app-card-item *ngFor="let item of cartitems" [item]="item"
          [quantity]="cartQuantities[item.ISBN]"
          (removeFromCart)="removeItem($event)"
          (increaseQuantityEvent)="increaseQuantity($event)"
     (decreaseQuantityEvent)="decreaseQuantity($event)"></app-card-item>
        <p><b>Total : ${{getTotal()}}</b></p>
        <div *ngIf="cartitems.length">
          <button class="pay-now-btn" (click)="payNow()">Pay Now</button>
        </div>

      </ol>
    </div>
  </div>